<ion-header>
  <ion-toolbar>
    <ion-title>cadastro-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <h1>Create Account</h1>
  <form>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
    <ion-input autocomplete="off" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input autocomplete="off" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input autocomplete="off" type="password"></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
    Já tem conta? <a routerLink='/login'>Entre agora!</a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="dark">Cadastrar</ion-button>
  </form>
</ion-content>
