ion-list {
    background: rgb(253, 253, 253);
    height: 100%
}
ion-card {
    background:rgb(150, 255, 250);
}
ion-icon {
    width: 20px;
  height: 20px;
}
ion-chip {
    text-align: justify;
}
ion-label {
    background: rgb(255, 255, 255);
}
