<ion-header>
  <ion-toolbar color = 'secondary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<img src="assets/posto2.jpg">

<ion-content>
  <ion-list>
    <ion-card>
    <ion-item>
      <ion-label>
        <h1>Posto 2</h1>
          <p>Rua xx xxx xxx Nº3302</p>
          <p>Gasolina Comum: R$ 3,40</p>
          <p>Gasolina Aditivada: R$ 4,20</p>
          <p>Alcool: R$ 2,60</p>
          <p>Diesel: R$ 3,75</p>
          <p>Gás: 2,30</p>
        <ion-card>
          <ion-icon name = 'pizza'></ion-icon> Lanchonete
        </ion-card>
        <ion-card>
            <ion-icon name = 'construct'></ion-icon> Oficina
          </ion-card>
          <ion-card>
              <ion-icon name = 'basket'></ion-icon> Loja
          </ion-card>
      </ion-label>
    </ion-item>
    </ion-card>
    <ion-item>
        <ion-avatar>
          <ion-icon name= "contact"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Harry3015</h3>
          <p>Gostei do posto!</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>