<ion-header>
  <ion-toolbar color = 'secondary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
    <ion-item>
      <ion-label>
        <h1>Posto 2</h1>
          <p>Rua xx xxx xxx Nº3302</p>
          <p>Gasolina: 3.40</p>
          <p>Alcool: 2.60</p>
          <p>INFO: hfuhhfusdhfusdhfusdhfusdhfusdhfus</p>
      </ion-label>
    </ion-item>
    </ion-card>
  </ion-list>
</ion-content>