ion-card-header{
     // card
     background: #0cd1e8;
     //text-shadow: -9px 5px 10px;
 }
 .content{
     background: rgb(110, 220, 240);
 }
 ion-title{
     text-align: left;
 }
 ion-list {
    background: rgb(183, 244, 255);
    height: 90%
}
ion-card {
    background: rgb(205, 248, 255);
    text-align: center;
}