<ion-title>Card</ion-title>
<ion-content fullscream>
  <div class="ocean">
        <ion-card-header>
            <ion-card-title>Sobre</ion-card-title>
          </ion-card-header>       
        <ion-card>
            <img src="http://cdn5.colorir.com/desenhos/color/201717/posto-de-abastecimento-edificios-outros-edificios-1359859.jpg" />         
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              and climb a mountain or spend a week in the woods. Wash your spirit clean
              Keep close to Nature's heart... and break clear away, once in awhile.
        </ion-card>                 
  </div>
</ion-content>