ion-card {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:80%;
    background: #bff9ff;
    border: 10;
 }
 ion-header {
     --ion-color-primary: rgb(0, 0, 0);
 }
 ion-card-header{
     // card
     background: #0cd1e8;
     //text-shadow: -9px 5px 10px;
 }
 .content{
     background: rgb(110, 220, 240);
 }
 ion-title{
     text-align: left;
 }