<ion-header>
  <ion-toolbar color='secondary'>
    <ion-title>PostoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <h1>Fazer login</h1>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input autocomplete="off" [(ngModel)]="loginModel.email" type="text" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input autocomplete="off" [(ngModel)]="loginModel.senha" type="password" name="senha"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <a routerLink='/cadastro-usuario'>Crie sua conta agora!</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="logar()" share="round" color="dark">Login</ion-button>
  </form>
</ion-content>