<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <h1>Fazer login</h1>
  <form>
  <ion-list>
  <ion-item>
  <ion-label position="stacked">Nome</ion-label>
  <ion-input autocomplete="off" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="stacked">Senha</ion-label>
  <ion-input autocomplete="off" type="password"></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
  <a routerLink='/cadastro-usuario'>Crie sua conta agora!</a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="dark">Login</ion-button>
  </form>
  </ion-content>
