<ion-header>
  <ion-toolbar color = 'secondary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-text-center">
  <h1>Os melhores da semana!</h1>
</div>
<ion-list class= "container">
<ion-card>
  <ion-list>
  <ion-item *ngFor="let item of items">
    <ion-label>Posto1
      {{item.preco}}
  </ion-label>
  </ion-item>
  <ion-item routerLink="">
      <ion-label>Posto2
      <p>Gasolina 4,00</p>
  </ion-label>
    </ion-item><ion-item routerLink="">
      <ion-label>Posto3
      <p>Gasolina 4,30</p>
      </ion-label>
    </ion-item><ion-item routerLink="">
      <ion-label>Posto4
      <p>Gasolina 4,35</p>
      </ion-label>
    </ion-item><ion-item routerLink="">
      <ion-label>Posto5
      <p>Gasolina 4,39</p>
      </ion-label>
    </ion-item><ion-item routerLink="">
        <ion-label>Posto6
        <p>Gasolina 4,39</p>
        </ion-label>
      </ion-item><ion-item routerLink="">
          <ion-label>Posto7
          <p>Gasolina 4,39</p>
          </ion-label>
    </ion-item><ion-item routerLink="">
      <ion-label>Posto8
      <p>Alcool 3,40</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>
<div>
  
  <!--*ion-item *Ngfor=let item of intems
  p {{item.preço}} p-->    
<!--teste3 branch-nova-->