.container {
    font-family: Arial, Helvetica, sans-serif;
    background:#0cd1e8;

}
ion-label{
    font-style: italic;
}
ion-header {
    --ion-color-primary: rgb(0, 0, 0);
}
ion-title {
    text-align: left;
}